<div class="card-columns">
    <div class="card">
        <img class="card-img" src="https://via.placeholder.com/640x360.png" alt="Card image">
        <div class="card-img-overlay">
            <p class="card-text">APM</p>
            <h5 class="card-title">Get full visibility into modern applications</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img" src="https://via.placeholder.com/640x360.png" alt="Card image">
        <div class="card-img-overlay">
            <p class="card-text">Logs Management</p>
            <h5 class="card-title">Analyze and explore log data in context</h5>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">"Datadog has been instrumental in managing our real-time infrastructure,
                globally distributed in 5 data centers across hundreds of instances, and 
                thousands of different metrics and dimensions for each host. I can't believe
                there was a time when we didn't have Datadog."
            </p>
            <p class="card-text"><strong>Valentino Volonghi</strong></p>
            <p class="card-text">Chief Technology Officer</p>
            <a href="#" class="card-link">See More Stories</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img" src="https://via.placeholder.com/640x360.png" alt="Card image">
        <div class="card-img-overlay">
            <p class="card-text">Infrastructure</p>
            <h5 class="card-title">See across systems, apps, and services</h5>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Observability</h2>
            <p class="card-text">With turn-key integrations, Datadog semlessly aggregates metrics and events across the full devops stack</p>
            <a href="#" class="card-link">Read More</a>
        </div>
        <div class="card-footer">
            <img class="card-img" src="#" alt="Card image">
        </div>
    </div>
</div>