<footer class="footer mt-5">
    <div class="container">
      <div class="row">
        <div>
          <button type="button" class="btn btn-secondary btn-lg">FREE TRIAL</button>
          <p>&#169; Datadog 2017</p>
        </div>
        <div class="list-group list-group-flush">
          <h5>Product</h5>
          <a href="#" class="list-group-item list-group-item-action">Features</a>
          <a href="#" class="list-group-item list-group-item-action">APM</a>
          <a href="#" class="list-group-item list-group-item-action">Integrations</a>
          <a href="#" class="list-group-item list-group-item-action">Alerts</a>
          <a href="#" class="list-group-item list-group-item-action">API</a>
          <a href="#" class="list-group-item list-group-item-action">Pricing</a>
          <a href="#" class="list-group-item list-group-item-action">Documentation</a>
          <a href="#" class="list-group-item list-group-item-action">Support</a>
          <a href="#" class="list-group-item list-group-item-action">Resources</a>
          <a href="#" class="list-group-item list-group-item-action">Security</a>
        </div>
      <div class="list-group list-group-flush">
        <h5>About</h5>
        <a href="#" class="list-group-item list-group-item-action">Contact Us</a>
        <a href="#" class="list-group-item list-group-item-action">Partners</a>
        <a href="#" class="list-group-item list-group-item-action">Press</a>
        <a href="#" class="list-group-item list-group-item-action">Our Team</a>
        <a href="#" class="list-group-item list-group-item-action">Careers</a>
        <a href="#" class="list-group-item list-group-item-action">Legal</a>
      </div>
      <div class="list-group list-group-flush">
        <h5>Social</h5>
        <a href="#" class="list-group-item list-group-item-action">Blog</a>
        <a href="#" class="list-group-item list-group-item-action">Espanol</a>
        <a href="#" class="list-group-item list-group-item-action">Japanese</a>
        <a href="#" class="list-group-item list-group-item-action">Instagram</a>
        <a href="#" class="list-group-item list-group-item-action">Twitter</a>
      </div>
      </div>
      <div class="row justify-content-center">
        <a href="#" class="col-xs">Terms</a>
        <a href="#" class="col-xs">Privacy</a>
        <a href="#" class="col-xs">Cookies</a>
      </div>
    </div>
  </footer>