<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 p-0">
          <button type="button" class="btn btn-secondary btn-md">FREE TRIAL</button>
          <p>&#169; Datadog 2017</p>
        </div>
        <div class="col">
          <h6>Product</h6>
          <ul id="product-list">
            <li><a href="#" class="list-group-item list-group-item-action">Features</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">APM</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Integrations</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Alerts</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">API</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Pricing</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Documentation</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Support</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Resources</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Security</a></li>
          </ul>
        </div>
        <div class="col">
          <h6>About</h6>
          <ul id="about-list">
            <li><a href="#" class="list-group-item list-group-item-action">Contact Us</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Partners</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Press</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Our Team</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Careers</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Legal</a></li>
        </ul>
        </div>
        <div class="col">
          <h6>Social</h6>
          <ul id="social-list">
            <li><a href="#" class="list-group-item list-group-item-action">Blog</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Espanol</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Japanese</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Instagram</a></li>
            <li><a href="#" class="list-group-item list-group-item-action">Twitter</a></li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center" id="last-row">
        <a href="#" class="col-xs" id="terms">Terms</a>
        <a href="#" class="col-xs" id="privacy">Privacy</a>
        <a href="#" class="col-xs">Cookies</a>
      </div>
    </div>
  </footer>