<div class="card-group">
    <div class="card" id="card1">
        <div class="card-header">Infrastructure</div>
        <div class="card-body">
            <p class="card-text">Starting at</p>
            <h5 class="card-title">$15</h5>
            <p classs="card-text"><small>Per host, per month*</small></p>
            <p class="card-text">Centralize your monitoring of systems and services
            </br>
            </br>
            - 250+ integrations
            </br>
            - Out-of-the-box dashboards
            </br>
            - 15-month metric retention
            </p>
        </div>
        <div class="card-footer"><a href="#" class="card-link">See details</a></div>
    </div>
    <div class="card" id="card2">
        <div class="card-header">APM</div>
        <div class="card-body">
            <p class="card-text">Starting at</p>
            <h5 class="card-title">$31</h5>
            <p classs="card-text"><small>Per host, per month*</small></p>
            <p class="card-text">Centralize your monitoring of systems and services
            </br>
            </br>
            - Java, Ruby, Python, Go, Node, and more
            </br>
            - Out-of-the-box application health dashboards
            </br>
            - 1 million trace events per host included
            </p>
        </div>
        <div class="card-footer"><a href="#" class="card-link">See details</a></div>
    </div>
    <div class="card" id="card3">
        <div class="card-header">Logs Management</div>
        <div class="card-body">
            <p class="card-text">Starting at</p>
            <h5 class="card-title">$1.27</h5>
            <p classs="card-text"><small>Per host, per month*</small></p>
            <p class="card-text">Analyze and explore log data in context
            </br>
            </br>
            - Collect from any source
            </br>
            - Automated & custom processing
            </br>
            - Fully integrated with infrastructure and APM
            </p>
        </div>
        <div class="card-footer"><a href="#" class="card-link">See details</a></div>
    </div>
</div>
