<style>

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 150px;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    background: #6f29f1;
    color: #fff;
    transition: all 0.3s;
}

#sidebar a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

#sidebar a:hover {
    text-decoration: underline;
}

.wrapper .container-fluid {
    margin-left: 160px;
    margin-top: 30px;
}

.wrapper .container-fluid .row {
    margin-bottom: 40px;
}

.wrapper .container-fluid .btn {
    border: 3px solid #6f29f1;
    background-color: #fff;
    color: #6f29f1;
    font-weight: bold;
    border-radius: 0px;
    padding: 20px;
    display: block;
    width: 90%;
    position: absolute;
    bottom: 0;
}

.card-group .card {
    background-color: rgb(248, 248, 248);
    border-radius: 0px;
    border: none;
}

#card1 .card-header {
    color: #5700f8;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: inherit;
}

#card1 {
    position: relative;
    padding: 10px 20px;
}

#card1:after {
    content: '';
    position: absolute;
    right: 0px;
    top: 5%;
    height: 90%;
    border-right: 1px solid lightgrey;
}

#card1 .card-link {
    color: #5700f8;
}

#card2 .card-header {
    color: #03e647;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: inherit;
}

#card2 {
    position: relative;
    padding: 10px 20px;
}

#card2:after {
    content: '';
    position: absolute;
    right: 0px;
    top: 5%;
    height: 90%;
    border-right: 1px solid lightgrey;
}

#card2 .card-link {
    color: #03e647;
}

#card3 .card-header {
    color: #f83a00;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: inherit;
}

#card3 {
    position: relative;
    padding: 10px 20px;
}

#card3 .card-link {
    color: #f83a00;
}

.card-footer {
    background-color: inherit;
    border: none;
}

.card-link {
    text-decoration: underline;
    text-transform: capitalize;
    text-underline-offset: 25%;
}

.card-columns {
    display: inline-block;
    column-count: 2;
}

.card-columns .card {
    margin: 20px;
    border-radius: 0;
}

.footer {
    background-image: linear-gradient(rgb(70, 69, 69), black);
    position: static;
    padding: 40px;
    height: 320px;
    color: lightgrey;
}

.footer .btn {
    border: 1px solid grey; 
    color: lightgrey;
    background-color: inherit;
    font-weight: bold;
    padding: 20px 40px;
}

.footer h6 {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
    
}

#product-list li {
    width: 50%;
    float: left;
    list-style: none;
}

#product-list a {
    border: none;
    background-color: inherit;
    color: grey;
    padding: 0;
}

#about-list a {
    border: none;
    background-color: inherit;
    color: grey;
    padding: 0;
}

#social-list a {
    border: none;
    background-color: inherit;
    color: grey;
    padding: 0;
}

#last-row a {
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

#terms {
    position: relative;
}

#terms:after {
    content: '';
    position: absolute;
    right: 0px;
    top: 30%;
    height: 40%;
    border-right: 2px solid #fff;
}

#privacy {
    position: relative;
}

#privacy:after {
    content: '';
    position: absolute;
    right: 0px;
    top: 30%;
    height: 40%;
    border-right: 2px solid #fff;
}

</style>