{{ define "main" }}
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <nav class="navbar navbar-expand-md navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav flex-column">
                <li class="mt-5">
                    <span class="navbar-brand">
                        <img src="http://via.placeholder.com/100x100">
                    </span>
                </li>
                <li class="nav-item mt-4">
                    <a class="nav-link" href="#">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="login" href="#">Login</a>
                </li>
            
            </ul>
        </div>
        </nav>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4" id="col1">
                <h1><strong>Modern monitoring & analytics</strong></h1>
                <h4>See inside any stack, any app, at any scale, anywhere.</h4>
                <button type="button" class="btn btn-lg">TRY FREE</button>
            </div>
            <div class="col" id="col2">
                {{ partial "pricing.html" }}
            </div>
        </div>
        <div class="row">
            {{ partial "card-column.html" }}
        </div>
    </div>
</div>

{{ end }}